<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head('Account - XPLaptop')"></head>
<body>
	<div class="container-fluid">
		<nav th:replace="fragments :: navBar"></nav>
		
		<div class="row justify-content-center">
			<div>
				<h2>Account Information</h2>
			</div>
			
			<div th:if="${message != null}" th:text="${message}" class="alert alert-success text-center"></div>
		
			<div class="border border-secondary rounded border-2" style="width: 800px">
				<form th:action="@{/account/update}" th:object="${user}" method="post" onsubmit="return checkEmail(this)"
					enctype="multipart/form-data">
					<input type="hidden" th:field="*{id}">
					<input type="hidden" th:field="*{photos}">
					<input type="hidden" th:field="*{roles}">
					
					<div class=" m-3 row text-center">
						<label class="col-sm-2 col-form-label">Email: </label>
						<div class="col-sm">
							<input class="form-control" type="email" th:field="*{email}" readonly="readonly"/>
						</div>
					</div>
					
					<div class="m-3 row text-center">
						<label class="col-sm-2 col-form-label">First Name: </label>
						<div class="col-sm">
							<input class="form-control" type="text" th:field="*{firstName}" placeholder="First Name"
							required="required" minlength="2" maxlength="64"/>
						</div>
					</div>
					
					<div class="m-3 row text-center">
						<label class="col-sm-2 col-form-label">Last Name: </label>
						<div class="col-sm">
							<input class="form-control" type="text" th:field="*{lastName}" placeholder="Last Name"
							required="required" minlength="2" maxlength="64"/>
						</div>
					</div>
					
					
					<div class="form-group m-3 row">
						<label class="col-sm-2 col-form-label text-center">Assigned roles: </label>
						<div class="col-sm">
							<div>
								<p><b th:text="${user.roles}"></b></p>	
							</div>													
						</div>
					</div>
					
					<div class="form-group m-3 row">
						<label class="col-sm-2 col-form-label text-center">Enabled: </label>
						<div class="col-sm-8">
							<div>
								<input class="form-check-input" type="checkbox" th:field="*{enabled}"/>
								<label>- Check to enable user</label>	
							</div>																			
						</div>
					</div>
					
					<!--upload photo -->
					<div class="form-group m-3 row">
						<label class="col-sm-2 col-form-label text-center">Photo: </label>
						<div class="col-sm">
							<div>
								<input class="form-control mb-3" type="file" name="image" accept="image/png, image/jpeg" id="fileImg"/>
							</div>	
							<div class="row justify-content-center">
								<img class="img-thumbnail" alt="Preview photo" th:src="@{${user.photoPath}}" style="width: 200px" id="previewImg" />
							</div>																							
						</div>
					</div>
					
<!-- 					password confirm -->
					<div class="m-3 row text-center">
						<label class="col-sm-2 col-form-label">Password: </label>
						<div class="col-sm">						
							<input th:if="${user.id != null}" class="form-control" type="password" th:field="*{password}" id="password"
							th:placeholder="${user.id != null ? 'Leave this field blank if do not change the password' : 'password'}" 
							minlength="8" maxlength="64"/>
						</div>
					</div>
					
					<div class="m-3 row text-center">
						<label class="col-sm-2">Confirm password:</label>
						<div class="col-sm">
							<input class="form-control" type="password" id="confirmPassword"
							placeholder="Cofirm your password" minlength="8" maxlength="64"/>
						</div>
					</div>
									
					<div class="text-center mb-3">
						<input type="submit" value="Save" class="btn btn-primary btn-sm"/>
						<input type="button" value="Cancel" class="btn btn-secondary btn-sm" id="buttonCancel"/>
					</div>
				</form>
			</div>
		</div>
		
		
			
		<!-- dialog when the email has already existed in database-->
		<div class="modal fade text-center" id="modalDialog">
			<div class="modal-dialog">
				<div class="modal-content">
					
					<div class="modal-header">
						<h4 class="modal-title" id="modalTitle">Warning</h4>
						<button class="btn-close" type="button" data-bs-dismiss="modal"></button>
					</div>
					
					<div class="modal-body">
						<span id="modalBody"></span>
					</div>
					
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		
		<div th:replace="fragments :: footer"></div>
	</div>
	
	<script type="text/javascript">
		$(document).ready(function() {
			$("#buttonCancel").on("click", function() {
				window.location = "[[@{/users}]]";
			});
			
			// preview photo
			
			$("#fileImg").change(function() {
				fileSize = this.files[0].size;
				sizeInMb = fileSize/1048576
				if(fileSize > 1048576) {
					alert("Size of image must less than 1Mb. Your image: "+sizeInMb.toFixed(2)+" Mb")
				} else {
					showImgThumbnail(this);
				}
			} );
			
			$("#confirmPassword").change(checkPasswordMatch);
		});
		
		function showImgThumbnail(fileInput) {
			const file = fileInput.files[0];
			let reader = new FileReader();
			reader.onload = function(event) {
				$("#previewImg").attr("src", event.target.result);
			}
			reader.readAsDataURL(file);
		}
		
		function checkEmail(form) {
			url = "[[@{/user/check_email}]]";
			userEmail = $("#email").val();
			userId = $("#id").val();
			csrfValue = $("input[name='_csrf']").val();
			
			params = {id: userId, email: userEmail, _csrf: csrfValue};

			$.post(url, params, function(response) {
				if(response == "OK") {
					form.submit();
				} else if (response == "Duplicated") {
					showModalDialog("Warning", `Email ${userEmail} already existed!!`);
				} else {
					showModalDialog("Error", `Unknown error from server`);
				}
				
			}).fail(function() {
				showModalDialog("Error", `Could not connect to the server`);
			});
			
			return false;
		}
		
		function showModalDialog(title, message) {
			$("#modalTitle").text(title);
			$("#modalBody").text(message);
			$("#modalDialog").modal("show");
		}
		
		function checkPasswordMatch() {
			let password = $("#password").val();
			let confirmPassword = $("#confirmPassword").val();
			if(password != confirmPassword) {
				$("#confirmPassword").get(0).setCustomValidity("Password does not match")
			} else {
				$("#confirmPassword").get(0).setCustomValidity('');
			}
		}
		
		
	</script>

</body>
	
</html>