<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: head('Home - XPLaptop Control Panel')">	
</head>
<body>
	<div class="container-fluid">
		<nav th:replace="fragments :: navBar"></nav>
		
		<div>
			<h2>XPLaptop Control Panel</h2>
			Welcome
			<a class="" th:href="@{/account}" sec:authentication="principal.fullName"></a>
			<span><b sec:authentication="principal.authorities"></b></span>
		</div>
		
		<div th:replace="fragments :: footer"></div>
	</div>

</body>
</html>