<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head('XPLaptop')"></head>
<body>
	<nav th:replace="navigation :: navBar"></nav>
	<h1>Browser product by Category</h1>
	
	<div class="row">
		<div class="col m-3" th:each="category : ${listCategories}">
		<th:block th:if="${category.enabled == true}">
			<div>
				<img th:alt="${category.name}" th:src="@{${category.imagePath}}" style="width: 100px">
			</div>
			<div>
				<a th:href="@{'/c/'+${category.alias}}" th:text="${category.name}"></a>
			</div>
		</th:block>
		</div>
	</div>
	
	<div th:replace="navigation :: footer"></div>
</body>
</html>