<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="search_nav">
		<nav class="navbar navbar-expand-lg bg-light navbar-dark">
			<div class="collapse navbar-collapse" id="searchNav">
				<form class="row" th:action="@{/search}" method="get">
					<div class="col-auto">
						<input type="search" class="form-control" placeholder="keyword"
							name="keyword" th:value="${keyword}">
					</div>
					<div class="col-auto">
						<button type="submit" class="btn btn-primary">Search</button>
					</div>
				</form>
			</div>
		</nav>
	</div>
</body>
</html>