<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="content" th:remove="tag">
		<form th:action="@{/setting/save_mail_server}" method="post">
		
			<!-- Server host name -->
			<div class=" m-3 row">
				<label class="col-sm-3 col-form-label">SMTP Server Host name: </label>
				<div class="col-sm">
					<input class="form-control" type="text" placeholder="server host name" maxlength="128" name="MAIL_HOST" th:value="${MAIL_HOST}" required/>
				</div>
			</div>
			
			<!-- Port number -->
			<div class=" m-3 row">
				<label class="col-sm-3 col-form-label">Port number: </label>
				<div class="col-sm">
					<input class="form-control" type="text" placeholder="port number" maxlength="128" name="MAIL_PORT" th:value="${MAIL_PORT}" required/>
				</div>
			</div>
			
			<!-- User name -->
			<div class=" m-3 row">
				<label class="col-sm-3 col-form-label">Username: </label>
				<div class="col-sm">
					<input class="form-control" type="text" placeholder="user name" maxlength="128" name="MAIL_USERNAME" th:value="${MAIL_USERNAME}" required/>
				</div>
			</div>
			
			<!-- Password name -->
			<div class=" m-3 row">
				<label class="col-sm-3 col-form-label">Password: </label>
				<div class="col-sm">
					<input class="form-control" type="text" placeholder="password" maxlength="128" name="MAIL_PASSWORD" th:value="${MAIL_PASSWORD}" required/>
				</div>
			</div>
			
			<!--Server authentication require  -->
			<div class=" m-3 row">
				<label class="col-sm-3 col-form-label">Server Authentication Required: </label>
				<div class="col-sm-auto">
					<select class="form-select" name="SMTP_AUTH" required>
						<option value="true" th:selected="${SMTP_AUTH} == 'true'">True</option>
						<option value="false" th:selected="${SMTP_AUTH} == 'false'">False</option>
					</select>
				</div>
			</div>
			
			<!--Server TLS  -->
			<div class=" m-3 row">
				<label class="col-sm-3 col-form-label">Server Requires Secured Connection (TLS): </label>
				<div class="col-sm-auto">
					<select class="form-select" name="SMTP_SECURED" required>
						<option value="true" th:selected="${SMTP_SECURED} == 'true'">True</option>
						<option value="false" th:selected="${SMTP_SECURED} == 'false'">False</option>
					</select>
				</div>
			</div>
			
			<!-- Send email from -->
			<div class=" m-3 row">
				<label class="col-sm-3 col-form-label">From email address: </label>
				<div class="col-sm">
					<input class="form-control" type="text" placeholder="from email" maxlength="128" name="MAIL_FROM" th:value="${MAIL_FORM}" required/>
				</div>
			</div>
			
			<!-- Sender name -->
			<div class=" m-3 row">
				<label class="col-sm-3 col-form-label">Sender name: </label>
				<div class="col-sm">
					<input class="form-control" type="text" placeholder="sender name" maxlength="128" name="MAIL_SENDER_NAME" th:value="${MAIL_SENDER_NAME}" required/>
				</div>
			</div>
	
			
		
		
			
		
			
	
			
			<!-- save button -->
					<div class="text-center mb-3">
						<input type="submit" class="btn btn-primary btn-sm" id="btnSubmit"/>
					</div>
		</form>
	</div>
	
	
</body>
</html>