<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head('Checkout')"></head>
<body>
<div class="container-fluid">
    <nav th:replace="navigation :: navBar"></nav>

    <div th:replace="search :: search_nav"></div>

    <div class="text-center">
        <h2>Checkout</h2>
    </div>

    <div class="row m-1">
        <!--Shipping information-->
        <div class="col-sm-8">
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="text-center">Shipping information</h5>
                </div>

                <div class="card-body">
                    <p>
                        <b>Ship to: </b><span th:text="${shippingAddress}"></span>
                        <a th:href="@{/address_book(redirect=checkout)}">Change address</a>
                    </p>

                    <p>
                        <b>Days to deliver: </b><span th:text="${checkOutInfo.deliverDays} + ' days'"></span>
                    </p>

                    <p>
                        <b>Expected deliver date: </b><span th:text="${#dates.format(checkOutInfo.getDeliverDate(), 'E, dd MMM yyyy')}"></span>
                    </p>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h5 class="text-center">Payment method</h5>
                </div>

                <div class="card-body">
                    <div class="m-2" th:if="${checkOutInfo.isCodSupported()}">
                        <form th:action="@{/place_order}" method="post">
                            <p>
                                <input type="checkbox" name="paymentMethod" id="checkboxCOD" value="COD"/> Cash on deliver
                                <button class="btn btn-success ms-1 d-none" id="buttonCOD">Place order with COD</button>
                            </p>
                        </form>
                    </div>

                    <!--Paypal-->
                    <div id="paypal-button-container"></div>
                    <form th:action="@{/process_paypal_order}" method="post" id="paypalForm">
                        <input type="hidden" name="orderId" id="orderId" />
                        <input type="hidden" name="paymentMethod" value="PAYPAL">
                    </form>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    <h5>Order summary</h5>
                </div>

                <div class="card-body">
                    <div>
                        <table class="table table-sm">
                            <th:block th:each="item : ${cartItems}">
                                <tr th:with="product = ${item.product}">
                                    <td th:text="${item.quantity}"></td>
                                    <td width="70%" >
                                        <a th:text="${product.name}" th:href="@{'/p/' + ${product.alias}}" target="_blank"></a>
                                        <small>Ship: <div th:replace="fragments :: price(${item.shippingCost})"></div></small>
                                    </td>
                                    <td>
                                        <div th:replace="fragments :: price(${item.subtotal})"></div>
                                    </td>
                                </tr>
                            </th:block>
                        </table>
                    </div>

                    <div class="row mt-2">
                        <div class="col-sm-auto"> Product Total: </div>
                        <div class="col-sm-auto"><div th:replace="fragments :: price(${checkOutInfo.productTotal})"></div></div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-sm-auto"> Shipping Total: </div>
                        <div class="col-sm-auto"><div th:replace="fragments :: price(${checkOutInfo.shippingCostTotal})"></div></div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-sm-auto"> Payment Total: </div>
                        <div class="col-sm-auto"><b><div th:replace="fragments :: price(${checkOutInfo.paymentTotal})"></div></b></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<div th:replace="navigation :: footer"></div>

<script type="text/javascript" th:src="@{/js/jquery.number.min.js}"></script>
<script th:src="@{https://www.paypal.com/sdk/js
(client-id=${paypalClientID}, currency=${currencyCode}, components='buttons', intent='capture')}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/color.css}"/>
<script>
    let contextPath = "[[@{/}]]";
    let csrfHeaderName = "[[${_csrf.headerName}]]";
    let csrfValue = "[[${_csrf.token}]]";

    let thousandPointType = "[[${THOUSANDS_POINT_TYPE}]]" == "COMMA" ? "," : ".";
    let currencyDigits = "[[${CURRENCY_DIGITS}]]";
    let decimalPointType = "[[${DECIMAL_POINT_TYPE}]]" == "COMMA" ? "," : ".";

    $(document).ready(function() {
        $("#checkboxCOD").on("click", function () {
            if($("#checkboxCOD").prop('checked')) {
                $("#buttonCOD").removeClass('d-none');
            } else {
                $("#buttonCOD").addClass('d-none');
            }
        });
    });

    function validateOrder(orderId) {
        $("#orderId").val(orderId);
        $("#paypalForm").submit();
    }
</script>

<script>
    paypal.Buttons({
        enableStandardCardFields: true,
        createOrder: function(data, actions) {
            return actions.order.create({
                payer: {
                    email_address: "[[${customer.email}]]",
                    name: {
                        given_name: "[[${customer.firstName}]]",
                        surname: "[[${customer.lastName}]]"
                    },
                    address: {
                        address_line_1: "[[${customer.addressLine1}]]",
                        address_line_2: "[[${customer.addressLine2}]]",
                        admin_area_1: "[[${customer.state}]]",
                        admin_area_2: "[[${customer.city}]]",
                        postal_code: "[[${customer.postalCode}]]",
                        country_code: "[[${customer.country.code}]]"
                    },
                    phone_with_type: {
                        phone_number: {
                            national_number: "[[${customer.phoneNumber}]]"
                        },
                        phone_type: "MOBILE"
                    }
                },
                purchase_units: [{
                    amount: {
                        currency_code: "[[${currencyCode}]]",
                        value: "[[${checkOutInfo.paymentTotalForPayPal}]]"
                    }
                }],
                application_context: {
                    shipping_preference: "NO_SHIPPING"
                }
            })
        },

        onApprove(data, actions) {
            return actions.order.capture().then(function (details) {
               console.log(details);
               let orderId = details.id;
               let totalAmount = details.purchase_units[0].amount.value;

               validateOrder(orderId);
            });
        },

        onCancel(data) {
            // Show a cancel page, or return to cart
            console.log("Payment cancelled");
        },

        onError(err) {
            // For example, redirect to a specific error page
            console.log("Something wrong happened");
            console.log(err);
        }
    }).render('#paypal-button-container')
</script>
</body>
</html>