<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head(${pageTitle})"></head>
<body>
<div class="container-fluid">
    <nav th:replace="navigation :: navBar"></nav>
    <div class="text-center">
        <h2>Customer Registration Form</h2>
    </div>

    <div>
        <form th:action="@{/create_customer}" method="post" th:object="${customer}"
            style="max-width: 600px; margin: 0 auto" onsubmit="return checkEmail(this)">

            <div class="border border-secondary rounded p-3">

                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">First Name:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" th:field="*{firstName}" required maxlength="45" minlength="2">
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Last Name:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" th:field="*{lastName}" required maxlength="45" minlength="2">
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Email:</label>
                    <div class="col-sm-8">
                        <input type="email" class="form-control" th:field="*{email}" required maxlength="45" minlength="2">
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Password:</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" th:field="*{password}" required maxlength="64" minlength="8">
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Confirm Password:</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" required maxlength="64" minlength="8">
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Phone Number:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" th:field="*{phoneNumber}" required maxlength="45" minlength="2">
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Address Line 1:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" th:field="*{addressLine1}" required maxlength="64" minlength="2">
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Address Line 2:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" th:field="*{addressLine2}" maxlength="64" minlength="2">
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">City:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" th:field="*{city}" required maxlength="45" minlength="2">
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Country:</label>
                    <div class="col-sm-8">
                        <select class="form-select" th:field="*{country}">
                            <th:block th:each="country : ${listAllCountries}">
                                <option th:value="${country.getId()}" th:text="${country.getName()}"></option>
                            </th:block>
                        </select>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">State/Province:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" th:field="*{state}" required maxlength="45" minlength="2">
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Postal Code:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" th:field="*{postalCode}" required maxlength="10" minlength="2">
                    </div>
                </div>

                <div class="text-center mb-3">
                    <input type="submit" value="Create Account" class="btn btn-primary btn-sm"/>
                </div>
            </div>
        </form>

    </div>

    <div th:replace="navigation :: footer"></div>

    <!-- dialog when the email has already existed in database-->
    <div class="modal fade text-center" id="modalDialog">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title" id="modalTitle">Warning</h4>
                    <button class="btn-close" type="button" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    <span id="modalBody"></span>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var csrfHeaderName = "[[${_csrf.headerName}]]";
    var csrfValue = "[[${_csrf.token}]]";
</script>

<script>
    $(document).ready(function() {

    });

    function checkEmail(form) {
        url = "[[@{/check_customer_email}]]";
        customerEmail = $("#email").val();
        csrfValue = $("input[name='_csrf']").val();

        params = {email: customerEmail, _csrf: csrfValue};
        $.post(url, params, function(respone) {
            if(respone == "OK") {
                form.submit();
            } else if (respone == "Duplicated Email") {
                showModalDialog("Warning", `Email ${customerEmail} already existed!!`)
            } else {
                showModalDialog("Error", `Unknown error from server`);
            }
        }).fail(function () {
            showModalDialog("Error", `Could not connect to the server`);
        });

        return false;
    }

    function showModalDialog(title, message) {
        $("#modalTitle").text(title);
        $("#modalBody").text(message);
        $("#modalDialog").modal("show");
    }
</script>
</body>
</html>