<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head(${pageTitle})"></head>
<body>
<div class="container-fluid">
    <nav th:replace="navigation :: navBar"></nav>
    <div th:replace="search :: search_nav"></div>
    <div class="text-center">
        <h2 th:text="${pageTitle}"></h2>
    </div>


    <div>
        <form th:action="@{/update_account}" method="post" th:object="${customer}" style="max-width: 600px; margin: 0 auto">
            <input type="hidden" th:field="*{id}">
            <input type="hidden" th:field="*{authenticationType}">
            <input type="hidden" th:field="*{email}">
            <input type="hidden" th:field="*{enabled}">
            <input type="hidden" name="redirect" th:value="${param.redirect}">
            <div class="border border-secondary rounded p-3">
                <!--Email-->
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Email:</label>
                    <div class="col-sm-8">
                        <input type="email" class="form-control" th:field="*{email}" disabled >
                    </div>
                </div>
                <!--First Name-->
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">First Name:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" th:field="*{firstName}" required maxlength="45" minlength="2">
                    </div>
                </div>
                <!--Last Name-->
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Last Name:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" th:field="*{lastName}" required maxlength="45" minlength="2">
                    </div>
                </div>
                <!--Password. Show if AuthenType = Database, Otherwise hidden-->
                <th:block th:if="${customer.authenticationType.toString() == 'DATABASE'}">
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Password:</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" maxlength="64" minlength="8" id="password"
                            placeholder="Leave blank if you don't want to change">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Confirm Password:</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" maxlength="64" minlength="8" id="confirmPassword"
                               placeholder="Leave blank if you don't want to change">
                    </div>
                </div>
                </th:block>

                <!--Phone number-->
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Phone Number:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" th:field="*{phoneNumber}" required maxlength="45" minlength="2">
                    </div>
                </div>

                <!--Address-->
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Address Line 1:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" th:field="*{addressLine1}" required maxlength="64" minlength="2">
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Address Line 2:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" th:field="*{addressLine2}" maxlength="64" minlength="2">
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">City:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" th:field="*{city}" required maxlength="45" minlength="2">
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Country:</label>
                    <div class="col-sm-8">
                        <select class="form-select" th:field="*{country}">
                            <th:block th:each="country : ${listAllCountries}">
                                <option th:value="${country.getId()}" th:text="${country.getName()}"></option>
                            </th:block>
                        </select>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">State/Province:</label>
                    <div class="col-sm-8">
                        <select class="form-select" th:field="*{state}">
                            <th:block th:each="state : ${stateList}">
                                <option th:value="${state.name}" th:text="${state.name}" id="state"></option>
                            </th:block>
                        </select>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Postal Code:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" th:field="*{postalCode}" required maxlength="10" minlength="2">
                    </div>
                </div>

                <div class="text-center mb-3">
                    <input type="submit" value="Update" class="btn btn-primary btn-sm"/>
                </div>
            </div>
        </form>

    </div>

    <div th:replace="navigation :: footer"></div>

</div>

<script>
    let csrfHeaderName = "[[${_csrf.headerName}]]";
    let csrfValue = "[[${_csrf.token}]]";
    let contextPath = "[[@{/}]]";
</script>
<script type="text/javascript" th:src="@{/js/form_common.js}"></script>
<script type="text/javascript" th:src="@{/js/load_states_form.js}"></script>
</body>
</html>