<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head('Your account details')"></head>
<body>
<div class="container-fluid">
    <nav th:replace="navigation :: navBar"></nav>
    <div th:replace="search :: search_nav"></div>
    <div class="text-center">
        <h2>Reset password</h2>
    </div>


    <div>
        <form th:action="@{/reset_password}" method="post" style="max-width: 600px; margin: 0 auto">
            <input type="hidden" th:value="${token}" name="token">
            <div class="border border-secondary rounded p-3">
                <div class="text-center">
                    <p class="alert-dark">Enter your new password</p>
                </div>
                <!--Password-->
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">Password:</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" name="password" id="password" minlength="8" maxlength="32"
                               required placeholder="Enter your password">
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="confirmPassword">Confirm password:</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="confirmPassword" minlength="8" maxlength="32"
                               required placeholder="Confirm password">
                    </div>
                </div>

                <div class="text-center mb-3">
                    <input type="submit" value="Reset" class="btn btn-primary btn-sm"/>
                </div>
            </div>
        </form>

    </div>

    <div th:replace="navigation :: footer"></div>

</div>

<script>
    var csrfHeaderName = "[[${_csrf.headerName}]]";
    var csrfValue = "[[${_csrf.token}]]";
</script>
<script type="text/javascript" th:src="@{/js/form_common.js}"></script>
<script>
    $(document).ready(function() {
        $("#confirmPassword").on('input', function() {
            checkPasswordMatch();
        });
    });

</script>
</body>
</html>