<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="quantity_control(quantityValue, productId)">
  <nav>
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link linkMinus" th:pid="${productId}" href="#"><b>-</b></a>
      </li>
      <li class="page-item">
        <input class="form-control text-center" style="width: 60px;" type="text"
               onkeydown="return false" th:value="${quantityValue}" th:id="quantity+${productId}"/>
      </li>
      <li class="page-item">
        <a class="page-link linkPlus" th:pid="${productId}" href="#"><b>+</b></a>
      </li>
    </ul>
  </nav>
</div>
</body>
</html>