<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: head('Customers - XPLaptop Control Panel')"></head>
<body>
<div class="container-fluid">
    <nav th:replace="fragments :: navBar"></nav>

    <div>
        <h2>Customers Management</h2>
    </div>

    <div th:if="${message != null}" th:text="${message}" class="alert alert-success text-center"></div>

    <div class="m-3">
        <a th:href="@{/orders/export/csv}"><i class="fa-solid fa-file-csv fa-2x"></i></a>
        <!-- 			| -->
        <!-- 			<a th:href="@{/products/export/excel}"><i class="fa-sharp fa-solid fa-file-excel fa-2x"></i></a> -->
        <!-- 			| -->
        <!-- 			<a th:href="@{/products/export/pdf}"><i class="fa-solid fa-file-pdf fa-2x"></i></a> -->
    </div>

    <!-- search order -->
    <div>
        <form class="row g-3 mb-3" th:action="@{/orders/page/1}" id="searchForm">
            <input type="hidden" name="sortField" th:value="${sortField}">
            <input type="hidden" name="sortDir" th:value="${sortDir}">
            <div class="col-auto">
                <label>Search keyword: </label>
            </div>
            <div class="col-auto">
                <input type="text" class="form-control" required="required" name="keyword" th:value="${keyword == null ? '' : keyword}">
            </div>
            <div class="col-auto">
                <input type="submit" value="Search" class="btn btn-primary">
            </div>
            <div class="col-auto">
                <input type="button" value="Clear" class="btn btn-secondary" onclick="clearFilter()">
            </div>
        </form>
    </div>

    <!-- 		Fewer details table -->
    <!--<div class="less-details">
        <div th:each="order : ${orderList}" class="row mb-3">
            <div class="row-auto col-4">
                <a class="link-details" th:href="@{'/orders/detail/'+${order.id}+'?path='+${path == null ? '' : path}}" th:text="${order.getFullName()}" title="View details"></a>
            </div>
            <div class="col-8">
                <div class="row">
                    <div class="col-2">
                        <a th:if="${order.enabled == true}" class="fa-solid fa-circle-check color-green fa-2x" th:href="@{'/orders/enable/'+${order.id}+'?path='+${path}}"></a>
                        <a th:if="${order.enabled == false}" class="fa-solid fa-circle-check color-gray fa-2x" th:href="@{'/orders/enable/'+${order.id}+'?path='+${path}}"></a>
                    </div>
                    <div class="col-2">
                        <a class="link-details col" th:href="@{'/orders/detail/'+${order.id}+'?path='+${path == null ? '' : path}}"
                           style="margin: 0px 5px" title="Details"><i class="fa-solid fa-circle-info fa-2x" ></i></a>
                    </div>
                    <div class="col-2">
                        <a class="fa-solid fa-pen-to-square color-green fa-2x" th:href="@{'/orders/edit/'+${order.id}+'?path='+${path}}" title="Edit"></a>
                    </div>
                    <div class="col-2">
                        <a class="fa-solid fa-delete-left color-gray fa-2x link-delete col"
                           th:href="@{'/orders/delete/'+${order.id}+'?path='+${path == null ? '' : path}}"
                           style="margin-left: 5px" title="Delete this"
                           th:catName="${order.getFullName()}"></a>
                    </div>
                </div>
            </div>

        </div>
    </div>-->
    <!--	Full Table -->
    <div class="full-details">
        <table class="table table-responsive-xl table-striped table-hover table-bordered">
            <thead class="table-dark">
            <tr>
                <td th:replace="fragments :: column_link('orders', 'id', 'Order ID')"></td>
                <td th:replace="fragments :: column_link('orders', 'order', 'Customer')"></td>
                <td th:replace="fragments :: column_link('orders', 'total', 'Total')"></td>
                <td th:replace="fragments :: column_link('orders', 'orderTime', 'Order Time')"></td>
                <td th:replace="fragments :: column_link('orders', 'country', 'Destination')"></td>
                <td th:replace="fragments :: column_link('orders', 'paymentMethod', 'Payment Method')"></td>
                <td th:replace="fragments :: column_link('orders', 'status', 'Status')"></td>
                <td class="text-center">Details / Edit / Delete</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${orderList}">
                <td th:text="${order.id}"></td>
                <td th:text="${order.customer.fullName}"></td>
                <td th:text="${order.total}"></td>
                <td th:text="${order.orderTime}"></td>
                <td th:text="${order.destination}"></td>
                <td th:text="${order.paymentMethod.toString()}"></td>
                <td th:text="${order.orderStatus.toString()}"></td>
                <td>
                    <a class="link-details col" th:href="@{'/orders/detail/'+${order.id}+'?path='+${path == null ? '' : path}}"
                       style="margin: 0px 5px" title="Details"><i class="fa-solid fa-circle-info fa-2x"></i></a>
                    <a th:replace="fragments :: editButton(${order}, 'orders')"></a>
                    <a class="fa-solid fa-delete-left color-gray fa-2x link-delete col"
                       th:href="@{'/orders/delete/'+${order.id}+'?path='+${path == null ? '' : path}}"
                       style="margin-left: 5px" title="Delete this"
                       th:entityName="${order.id}"></a>
                </td>
            </tr>
            </tbody>

        </table>
    </div>

    <!-- 		show page navigation -->
    <div th:replace="fragments :: pageNavigation('orders')"></div>


    <!-- 		show confirm delete dialog -->
    <div class="modal fade text-center" id="modalDelete">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title" id="modalTitle">Warning</h4>
                    <button class="btn-close" type="button" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    <span id="modalBody"></span>
                </div>

                <div class="modal-footer">
                    <a class="btn btn-primary" id="yesBtn" href="">Yes</a>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

    <!-- modal details order -->
    <div class="modal fade" id="modalDetails" >
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">

            </div>
        </div>
    </div>
    <!-- 		footer -->
    <div th:replace="fragments :: footer"></div>
</div>


<script type="text/javascript">
    $(document).ready(function() {
        $(".link-delete").on("click", function(e) {
            e.preventDefault();

            link = $(this);
            name = link.attr("entityName");
            $("#yesBtn").attr("href", link.attr("href"));
            $("#modalBody").text("Are you sure to delete this order ID: "+name+ "?");
            $("#modalDelete").modal("show");
        });

        $(".link-details").on("click", function(event) {
            event.preventDefault();
            linkDetailsURL = $(this).attr("href");
            $("#modalDetails").modal("show").find(".modal-content").load(linkDetailsURL);
        });

        $("#selectCategory").on("change", function() {
            $("#searchForm").submit();
        })
    })

    function clearFilter() {
        window.location = "[[@{/orders}]]";
    }

</script>



</body>
</html>